<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">

            <!-- Адапатация для мобильный устройств -->
            <!-- Логотип -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">
                    <%= image_tag "logo.png", height: "40px" %>
                </a>
            </div>

            <!-- Панель навигации -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Главная", root_path %></li>
                    <li><%= link_to "О Компании", root_path(anchor: "about_us") %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Продукция<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Пиломатериалы", root_path(anchor: "pr_1") %></li>
                                <li><%= link_to "Клееная продукция", root_path(anchor: "pr_2") %></li>
                                <li><%= link_to "Погонажные изделия", root_path(anchor: "pr_3") %></li>
                                <li><%= link_to "Кровельный материал", root_path(anchor: "pr_1") %></li>
                            </ul>
                    </li>
                    <li><%= link_to "Услуги", root_path(anchor: "services") %></li>
                    <li><%= link_to "Контакты", root_path(anchor: "contact") %></li>
                </ul>
            </div>

    </div>
</nav>
